<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;系统介绍</h3>
        <ul>
            <li>实现全面的公积金贷款、贷款担保业务流程管理，包括一手期房、二手房的全程担保、阶段性担保、抵押公积金贷款等业务，</li>
            <li>实现可灵活自定义业务流程和多级审批流程，满足新业务实时发展需求；</li>
            <li>引入无纸化审批和身份识别，充分解放生产力；</li>
            <li>引入代办任务的提醒，全业务流程监控和时限控制，实现系统主动管理，为风险管理和工作效率提高有力帮助；</li>
            <li>通过规范系统整体框架，累积各个维度的数据，最终实现数据分析，真正实现系统化管理和管理的系统化等</li>
        </ul>
    </div>
</div>
</body>
</html>